<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ElectronicKanban.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ElectronicKanban.Properties.Settings>
            <setting name="db1" serializeAs="String">
                <value>DB1200.0</value>
            </setting>
            <setting name="db2" serializeAs="String">
                <value>DB1200.1</value>
            </setting>
            <setting name="db3" serializeAs="String">
                <value>DB1200.2</value>
            </setting>
            <setting name="db4" serializeAs="String">
                <value>DB1200.3</value>
            </setting>
            <setting name="db5" serializeAs="String">
                <value>DB1200.4</value>
            </setting>
            <setting name="db6" serializeAs="String">
                <value>DB1200.5</value>
            </setting>
            <setting name="db7" serializeAs="String">
                <value>DB1200.6</value>
            </setting>
            <setting name="db8" serializeAs="String">
                <value>DB1200.7</value>
            </setting>
            <setting name="db9" serializeAs="String">
                <value>DB1200.8</value>
            </setting>
        </ElectronicKanban.Properties.Settings>
    </userSettings>
</configuration>